/*
  Developer: Roderick Bernardo
  Purpose: CSS inheritance demo 
*/

/* body is the selector */
body {
  /* 
    Declaration block composed of one or more 
    Property: Value;
  */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: green;
}
