/*
  Developer: Roderick Bernardo
  Purpose: CSS pseudo selector demo
  ":" is used to define pseudo-classes
   Pseudo-classes select elements based on their state or position
*/

/* body is the selector */
body {
  /* 
    Declaration block composed of one or more 
    Property: Value;
  */
  font-family: Arial, Helvetica, sans-serif;
}

/* This selector will match all elements that have this class name */
.button {
  padding: 10px 20px; /* top bottom and left right padding definition */
  font-size: 16px; /* Size of the font */
  font-weight: bold; /* Weight of the font */
  text-align: center; /* Alignment of the text */
  text-decoration: none; /* Removes the text decoration like underlines */
  cursor: pointer; /* Type of pointer on mouse hover */
  border: 3px solid gray; /* Border defintion short form */
  border-radius: 5px; /* Rounded corner */
  color: white; /* Font color */
  background-color: black; /* Blue color, you can change this */
}

/* :hover is a pseudo selector */
.button:hover {
  background-color: white; /* Darker blue on hover */
  color: black; /* Font color */
}

table {
  border-collapse: collapse; /* Merge the borders */
  width: 50%; /* Table width */
  /* 4 values = Top Right Bottom Left */
  margin: 20px 0px 20px 0px;
}

th {
  padding: 5px; /* Padding all sides */
}

td {
  padding: 5px; /* Padding all sides */
}

/* even rows */
/* :nth-child is a pseudo selector */
tr:nth-child(even) {
  background-color: lightgrey; /* Background color of the table row */
  color: darkslategrey; /* Font color */
}

/* odd rows */
/* :nth-child is a pseudo selector */
tr:nth-child(odd) {
  background-color: darkslategrey; /* Background color of the table row */
  color: lightgrey; /* Font color */
}

.emojiContainer {
  text-align: center; /* Center the text */
  font-size: 1.5em; /* 1.5 the of default font */
}
