/*
  Developer: Roderick Bernardo
  Purpose: CSS multiple selector demo
*/

/* body is the selector */
body {
  /* 
    Declaration block composed of one or more 
    Property: Value;
  */
  font-family: Arial, Helvetica, sans-serif;
}

/* Instead of declaring separately we can use the same style declaration */
/* to apply to any tag name comma separated list */
p,
ol,
ul {
  background-color: gray;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 40px;
  border-radius: 15px;
}

li {
  margin-bottom: 10px; /* Add space between list items */
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
