/*
  Developer: Roderick Bernardo
  Purpose: CSS sibling selector demo
*/

/* body is the selector */
body {
  /* 
    Declaration block composed of one or more 
    Property: Value;
  */
  font-family: Arial, Helvetica, sans-serif;
}

/* Will match when h2 and p are on the same level (Mean parents has to be common)
   and h2 occurs before p */
h2 ~ p {
  padding: 5px;
  border-top: 1px solid gray;
  border-left: 4px solid red;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}
