/*
  Developer: Roderick Bernardo
  Purpose: CSS color demo
*/

/* body is the selector */
body {
  /* 
    Declaration block composed of one or more 
    Property: Value;
  */
  font-family: Arial, Helvetica, sans-serif;
}

div {
  padding: 10px;
  background-color: lightyellow;
  border: 2px solid gray;
  border-radius: 10px;
}

ol {
  font-size: 1.5rem;
  line-height: 1.5;
}

.colorName {
  color: red;
}

.rgb {
  color: rgb(255, 0, 0);
}

/* This definition of rbga black with 50% transparency */
.rgba {
  color: rgba(0, 0, 0, 0.5);
}

.hex {
  color: #ff0000;
}

.hsl {
  color: hsl(0, 100%, 50%);
}

/* This definition of hsla black with 50% transparency */
.hsla {
  color: hsl(0, 0%, 0%, 0.5);
}
