/*
  Developer: Roderick Bernardo
  Purpose: CSS box demo
*/

/* body is the selector */
body {
  /* 
    Declaration block composed of one or more 
    Property: Value;
  */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

div {
  background-color: darkgoldenrod;
}

#content {
  padding: 5px;
  border: 5px solid black;
  margin: 5px;
}

#nopadding {
  width: 200px;
  height: 100px;
  background-color: lightgreen;
  font-size: 30px;
  color: black;
}

#padding {
  padding: 50px;
  width: 200px;
  height: 100px;
  background-color: khaki;
  font-size: 30px;
  color: black;
}

.outer {
  border: 2px dotted black;
}

.inner {
  margin: 20px;
  border: 1px solid black;
}

/* Margins apply to left and right for this span */
span {
  margin: 10px;
  background: black;
}
