/*
  Developer: Roderick Bernardo
  Purpose: Color gradient demo
*/

body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom right, white, red);
  /* You can change the colors to any other hexadecimal or named colors */
  font-family: Arial, sans-serif;
  color: #fff; /* Text color */
}

.content {
  text-align: center;
  padding: 100px;
}
