/*
  Developer: Roderick Bernardo
  Purpose: CSS Colors demo 
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: purple;
  font-size: 1.5rem;
}

.style1 {
  height: 50px;
  background-color: rgb(144, 238, 144);
}

.style2 {
  height: 50px;
  background-color: rgb(0, 0, 0);
}

.style3 {
  height: 50px;
  background-color: rgb(80, 80, 80);
}

.style4 {
  height: 50px;
  background-color: #ffd700;
}

.style5 {
  height: 50px;
  background-color: #0000ff;
}

.style6 {
  height: 50px;
  background-color: #006400;
}

.style7 {
  height: 50px;
  background-color: #ffffff;
}
