<div class="p-5">
  <h1 class="display-6 fw-bold"><%= listTitle %></h1>
  <!-- Use prettier-ignore to preserve the formatting -->
  <!-- prettier-ignore -->
  <% listItems.forEach((item) => { %>
  <p class="fs-4"><%= item %></p>
  <% }) %>
</div>
