:root {
  --backgroundColor: white;
  --foregroundColor: black;
  --borderColor: gray;
}

body {
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
}

.customButton {
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
  border: 2px solid var(--borderColor);
  padding: 10px;
  border-radius: 10px;
}
