/*
  Developer Name: 
  Purpose:
*/

body {
  font-family:
}

.centerText {
  text-align:
}

.divBox {
  width:
  margin-top:
  margin-bottom:
  margin-left:
  margin-right:
  padding:
}

.customBorderBase {
  border-width:
  border-radius:
  color:
}

.customBorder1 {
  border-style:
  border-color:
  background-color:
}

.customBorder2 {
  border-style:
  border-color:
  background-color:
}

.customBorder3 {
  border-style:
  border-color:
  background-color:
}
