<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>EJS - Web App</strong> by:
      <a href="https://github.com/roderickkit-bernardo/" target="_blank"
        >Roderick Bernardo</a
      >.
    </p>
  </div>
</footer>
