/*
  Developer: Roderick Bernardo
  Purpose: CSS basic selectors demo
*/

/* body is the selector */
body {
  /* 
    Declaration block composed of one or more 
    Property: Value;
  */
  font-family: Arial, Helvetica, sans-serif;
}

/* Element selector */
div {
  border: 5px solid black; /* Set the border thickness, style and color */
  border-radius: 10px; /* Rounded edges */
  padding: 5px; /* 5px padding around */
  width: 200px; /* Width of the container */
  margin: 5px auto 5px auto; /* Set the margin top, right, bottom, left */
  text-align: center; /* Alignment of the text inside the container */
}

/* Class selector */
.classSelector {
  border: 5px solid blueviolet; /* Set the border thickness, style and color */
  border-radius: 10px; /* Rounded edges */
  padding: 5px; /* 5px padding around */
  width: 200px; /* Width of the container */
  margin: 5px auto 5px auto; /* Set the margin top, right, bottom, left */
  text-align: center; /* Alignment of the text inside the container */
}

/* Id selector */
#idSelector {
  border: 5px dotted chocolate; /* Set the border thickness, style and color */
  padding: 5px; /* Rounded edges */
  padding: 5px; /* 5px padding around */
  width: 200px; /* Width of the container */
  margin: 5px auto 5px auto; /* Set the margin top, right, bottom, left */
  text-align: center; /* Alignment of the text inside the container */
}
