/*
  Developer: Roderick Bernardo
  Purpose: CSS font properties demo
*/

/* Feel free to modify */
/* Font properties */
.customFont {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
  text-decoration: underline;
  /* text-transform: uppercase; */ /* This will override font-variant */
  text-indent: 2px;
}
