/*
  Developer: Roderick Bernardo
  Purpose: Flexbox css for 12div.html 
*/

.container {
  display: flex;
}
.one {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
}
.two {
  flex: 1;
  background-color: #ccc;
  padding: 20px;
}
