/*
  Developer: Roderick Bernardo
  Purpose: CSS definitions for module 2 
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.tableBorder {
  border: 1px solid #000;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/border-collapse */
  /* border-collapse: collapse; */
  /* or */
  border-collapse: separate;
}

.tableBorder th,
.tableBorder td {
  border: 1px solid #000;
  padding: 10px;
}

.tableBorder caption {
  font-weight: bold;
  margin-bottom: 10px;
}

.rightAlign {
  text-align: right;
}

.centerAlign {
  text-align: center;
}

.headerCustom {
  background-color: #cccccc;
  padding: 10px;
  text-align: center;
}

.navCustom {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.navCustom a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.mainCustom {
  background-color: coral;
  padding: 10px;
}

.footerCustom {
  font-style: italic;
  background-color: deeppink;
  padding: 10px;
}

.formDiv {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
