<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>EJS - Web App by:</strong>
      <a href="https://github.com/roderickkit-bernardo/" target="_blank"
        >&nbsp;Roderick Bernardo</a
      >.
    </p>
  </div>
</footer>
