<section class="hero has-background-dark">
  <div class="hero-body has-text-centered">
    <div class="block">
      <!-- title came from index.ejs -->
      <p class="title has-text-white"><%= title %></p>
    </div>
    <div class="block">
      <!-- description came from index.ejs -->
      <p class="subtitle has-text-white"><%= description %></p>
    </div>
  </div>
</section>
