<section class="section">
  <div class="container">
    <div class="box">
      <p class="is-size-1 has-text-centered"><%= content.title %></p>
      <table class="table mx-auto">
        <thead>
          <tr>
            <th>Name</th>
            <th>Code</th>
          </tr>
        </thead>
        <tbody>
          <!-- prettier-ignore -->
          <% content.northAmericanCountries.forEach((country) => { %>
          <tr>
            <td><%= country.name %></td>
            <td><%= country.code %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</section>
