/*
  Developer: Roderick Bernardo
  Purpose: XMLHttpRequest demo
*/

/* body is the selector */
body {
  /* 
    Declaration block composed of one or more 
    Property: Value;
  */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px gray;
  width: 75%;
}

.subContainer {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
}

input[type="number"] {
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

table {
  border: 1px solid #000;
  border-collapse: collapse; /* Merge the borders */
  margin: 0 auto;
  width: 100%;
}

tr,
th,
td {
  border: 1px solid #000;
  padding: 10px;
}

/* even rows */
/* :nth-child is a pseudo selector */
tr:nth-child(even) {
  background-color: white; /* Background color of the table row */
}

/* odd rows */
/* :nth-child is a pseudo selector */
tr:nth-child(odd) {
  background-color: lightgrey; /* Background color of the table row */
}

td img {
  width: 20px;
}
