/*
  Developer: Roderick Bernardo
  Purpose: Basic Grid demo
*/

/* body is the selector */
body {
  /* 
    Declaration block composed of one or more 
    Property: Value;
  */
  font-family: Arial, Helvetica, sans-serif;
}

.gridContainer {
  display: grid;
  /* 3 Column */
  grid-template-columns: auto auto auto;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.gridContainer > div {
  text-align: center;
  background: lightgray;
  border: 2px solid gray;
  padding: 20px;
}

.gridContainerCustom {
  display: grid;
  grid-template-columns: auto auto auto;
  /* gap between each row and column */
  gap: 5px 5px;
}

.gridContainerCustom > div {
  text-align: center;
  background: lightgray;
  border: 2px solid gray;
  padding: 20px;
}
